@import 'tailwindcss';

@font-face {
  font-family: 'PoppinsExtraLight';
  src: url('./assets/fonts/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsLight';
  src: url('./assets/fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsMedium';
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsRegular';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsThin';
  src: url('./assets/fonts/Poppins-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'GreatVibesRegular';
  src: url('./assets/fonts/GreatVibes-Regular.ttf') format('truetype');
}

@layer base {
  .font-poppins-ExtraLight {
    font-family: 'PoppinsExtraLight', sans-serif;
  }

  .font-poppins-light {
    font-family: 'PoppinsLight', sans-serif;
  }

  .font-poppins-regular {
    font-family: 'PoppinsRegular', sans-serif;
  }

  .font-poppins-medium {
    font-family: 'PoppinsMedium', sans-serif;
  }

  .font-poppins-semibold {
    font-family: 'PoppinsSemiBold', sans-serif;
  }
  .font-GreatVibes {
    font-family: 'GreatVibesRegular', sans-serif;
  }
}
.back {
  background: #076585; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fff,
    #076585
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fff,
    #076585
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bgc {
  /* background: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
  background-color: #111; Dark base for elegance */
  background: linear-gradient(to bottom, #b3daf1 10%, white 90%);
}
